body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/*图片预览 缩略图*/
.preview figure {
  float: left;
  width: 30%;
  height:calc(30vw - 0px);
  margin: 1.5%;
}

.preview figure img {
  width: 100%;
}


